body {
    margin: 0;

}

iframe {
    border: none;
    position: absolute;
    top: 25px;
    left: calc( 50% - 340px);
    width: 696px;
    height: 616px;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: #fff;
    display: none;
}

.hrefs {
    position: fixed;
    top: 5px;
    left: 5px;
    width: 150px;
    border: 1px solid lightgray;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}

.container{
    width: 685px;
    height: 605px;
    padding: 5px;
    /*margin: 10px auto;*/
    /*border: 1px solid #eee;*/
}

#map{
    display: block;
    float: left;
    height: 600px;
    width: 600px;
    border: 1px solid #eee;
}

.buttons {
    width: 75px;
    float: right;
}
.buttons button {
    margin-bottom: 5px;
    padding: 3px 0;
    min-width: 75px;
    border-radius: 2px;
}
.buttons button:enabled {
    background: #ffffdd;
    cursor: pointer;
}
#info-window{
    margin: 3px;
    padding: 3px;
    position: fixed;
    z-index: 100;
    background: #fff;
    width: 590px;
    font-family: Arial, serif;
    opacity: 0.9;
    font-size: 13px;
    text-align: center;
    line-height: 1.6;
    display: none;
}